*{
    margin:0;
    padding: 0;
}

.box{
    display: flex;
}

.left,.right{
    height: 100vh;
}

.left{
    position: relative;
    width: 200px;
    background-color: yellow;
    z-index: 10;
}

.right{
    position: relative;
    flex: 1;
    background-color: pink;
    z-index: 5;
}