
*{
    margin: 0;
    padding: 0;
}
.tab{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display:flex;
    justify-content:space-between;
}

li{
    list-style: none;
    flex:1;
    height: 50px;
    line-height: 50px;
    background-color: pink;
    text-align: center;
    cursor: pointer;
}

dl{
    line-height: 30px;
    margin-top: 5px;
    background-color: skyblue;
    border-bottom: 1px solid #ccc;
}

dd{
    font-size: 14px;
    color:gray;
}

input{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
}

.active{
    color:red;
}